body {
  background: #aad4cf;
  font-family: Arial;
  margin: 0;
}


.text-overlay {
  position: absolute; 
  top: 34%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white; 
  padding: 10px;
  font-size: 55px;
}


h1 {
  color: white;
  font-weight: 100;
}


.container-1{
  text-align: center;
}


nav {
  text-align: center;
  font-size: 25px;
}


p.one {
  word-spacing: 100px;
  margin: 0px;
}


.centered-box {
  width: 1024px;
  margin: 0 auto; 
  padding: 20px; 
  background-color: #d8e8e7;

}


h2 {
  font-weight: 100;
  text-align: left;
  font-size: 30px;
}


ul {
  margin: 0 auto; 
  padding: 10px; 
}


form {
  padding: 20px;
  margin-top: 10px;
  border: 1px solid black;
}


.container {
  display: flex;
}


img {
  max-width: 100%; /* Ensure the image doesn't exceed the container's width */
  margin-right: 10px; /* Add some spacing between the image and text */
}

footer {
  text-align: right;
}